<link rel="stylesheet" media="all" href='{{.AuthURL "/assets/qor_auth.css"}}'>
<div class="container qor-auth">
  <div class="qor-auth-box">
    {{$flashes := .Flashes}}
    {{if $flashes}}
    <ul class="errors">
      {{range $flash := $flashes}}
      <li>{{$flash.Message}}</li>
      {{end}}
    </ul>
    {{end}}

    <h1>Sign Up</h1>
    <a class="signup-link" href='{{.AuthURL "login"}}'>
      Sign In
    </a>

    {{if .Auth.GetProvider "password"}}
    <form action='{{.AuthURL "password/register" }}' method="POST">
      <ul class="auth-form">
        <li>
          <label for="login">Email</label>
          <input name="login" type="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" placeholder='Email' value='{{.FormValue " login "}}'/>
        </li>

        <li>
          <label for="password">Password</label>
          <input type="password" required class="form-control" name="password" placeholder='Password'>
        </li>

        <li>
          <label for="confirm_password">Confirm Password</label>
          <input name="confirm_password" required type="password" placeholder='Confirm Password' />
        </li>

        <li>
          <button type="submit" class="button button__primary">Sign Up</button>
        </li>
      </ul>
    </form>
    {{end}} 
    
  </div>
</div>
