<link rel="stylesheet" media="all" href='{{.AuthURL "/assets/qor_auth.css"}}'>
<div class="container qor-auth qor-auth-light">
  <div class="qor-auth-box">
    <h1>Resend Confirmation</h1>

    {{$flashes := .Flashes}}
    {{if $flashes}}
      <ul>
        {{range $flash := $flashes}}
          <li>{{$flash.Message}}</li>
        {{end}}
      </ul>
    {{end}}

    <form action='{{.AuthURL "password/confirmation/send"}}' method="POST">
      <ul>
        <li>
          <label for="email">Email:</label>
          <input name="email" id="email" type="email" placeholder='Email' />
        </li>
        <li>
          <button type="submit" class="button button__primary">Resend Confirmation</button>
        </li>
      </ul>
    </form>
  </div>
</div>
